
/* =================body================= */

$font-stack:    'RobotoRegular', sans-serif;
$primary-color: #474747;
$primary-fz: 16px;
$primary-l-heigth: 1.4;

	/* ==mob== */
$primary-fz-mob: 16px;
$primary-l-heigth-mob: 1.286;


/* ======================btn================= */

$btn-font-size: 18px;
$btn-color: #fff;
$btn-color-h: #fff;
$btn-width: 100%;
$btn-radius: 61px;
$btn-pd: 12px 0;
$btn-bgc: transparent;
$btn-bgc-h: #fda861;
$btn-border: 2px solid #fda861;
$btn-text-transf: uppercase;
	
	/* ==mob== */
$btn-font-size-mob: 18px;
$btn-pd-mob: 12px  0;

/* =================title================= */

$title-font-size: 18px;
$title-color: #353535;

	/* ==mob== */
$title-font-size-mob: 18px;

/* =================input================== */

$inputpadding: 15px 20px;
$inputborder: none;
$inputradius: 50px;



